<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="register.css">
    <script src="checkDetail.js" defer></script>
</head>
<body>
    	<header>
			<!-- header will contain foor logos and navigation bar; two asside in the left one in the right and one main in the middle -->
			<div class="container">
				<div class="logos">
					<img src="Images/EClogo.png" alt="Logo 1" class="logo" />
					<img src="Images/EClogo.png" alt="Logo 2" class="logo" />
					<img src="Images/EClogo.png" alt="Logo 1" class="logo" />
					<img src="Images/EClogo.png" alt="Logo 2" class="logo" />
				</div>
			</div>
		</header>
		<aside>
			<div class="container">
				<div class="left-aside">
					<nav>
						<ul>
							<!-- <li><a href="#">Home</a></li> -->
							<li><a href="register.html">Register</a></li>
							<!-- <li><a href="/login">Login</a></li>
							<li><a href="/about">About</a></li>
							<li><a href="/contact">Contact</a></li> -->
                            <!-- <div class="rule">
								<h2>To Know</h2>
								<p>You must be  a citizen of Ghana  only </p>
								<p>You must be  eighteen (18) years  and above</p>
								<p>You must provide  Ghana Card only  to register</p>
							</div> -->
						</ul>
					</nav>
				</div>
				<div class="main-content">
					<h1>User Registration Page</h1>
					<form action="/register" method="post" th:object="${userRegister}" id="registerForm">
						<div class="left">
							<label for="firsName">First Name</label>
							<!-- <input type="text" id="firstName" name="firsName"  placeholder="Max Charator 100"   ><br><br> -->
							<h3 id="firstNameDisplay"></h3><br><br>
							<label for="DateOfBirth">Age</label>
							<!-- <input type="date" id="dateOfBirth" name="dateOfBirth" placeholder="DD-MM-YYYY""> -->
							<h3 id="dateOfBirthDisplay"></h3>
							<label for="email">Email</label>
							<!-- <input type="email" id="email" name="email"  placeholder="eg:Example@Example.Example"> -->
							<h3 id="emailDisplay"></h3>
							<!-- <label for="homeTown">Enter Your Home Town</label> -->
							<!-- <input type="text" id="homeTown" name="homeTown"  placeholder="Max Charator 100"> -->
							<!-- <h3 id="homeTownDisplay"></h3>
							<label for="regionRegistration">Enter The Region Of Registration</label> -->
							<!-- <input type="text" id="regionRegistration" name="regionRegistration"  placeholder="Max Charator 100"> -->
							<h3 id="regionRegistrationDisplay"></h3>
							<label for="constituency">Consitituency</label>
							<!-- <input type="text" name="constituency" id="constituency" name="constituency"  placeholder="Max Charator 100"> -->
							<h3 id="constituencyDisplay"></h3>
							<!-- <label for="userPassWord">Password</label> -->
							<!-- <input type="password" id="userPassWord" name="userPassWord"  placeholder="More Or Equal To 6 Digit"> -->
							<!-- <h3 id="userPassWordDisplay"></h3> -->
						</div>
						<div class="right">
							<label for="lastName">Last Name</label>
							<!-- <input type="text" id="lastName" name="lastName"  placeholder="Max Charator 100"> -->
							<h3 id="lastNameDisplay"></h3>
							<div class="userGender">
								<label for="gender">Gender</label> <br><br>
								<!-- <input type="radio" id="male" name="gender" value="Male" />Male -->
								<!--th:field="*{gender}"-->
								<!-- <input type="radio" id="female" name="gender" value="Female" />Female<br /><br /> -->
								<!-- th:field="*{gender}" -->
								<h3 id="userGenderDisplay"></h3>
							</div>
							<label for="phoneNumber">Phone Number</label>
							<!-- <input type="tel" id="phoneNumber" name="phoneNumber"  placeholder="Only Numerique Values"> -->
							<h3 id="phoneNumberDisplay"></h3>
							<label for="districtRegistration">DISTRICT OF REGISTRATION</label>
							<!-- <input type="text" id="districtRegistration" name="districtRegistration"  placeholder="Max Charator 100"> -->
							<h3 id="districtRegistrationDisplay"></h3>
							<!-- <label for="disabilityStatus">Disability Status</label> -->
							<!-- <input type="text" id="disabilityStatus" name="disabilityStatus"  placeholder="Max Charator 100"> -->
							<!-- <h3 id="disabilityStatusDisplay"></h3> -->
							<label for="GPSAddress">GPS Address</label>
							<!-- <input type="text" id="GPSAddress" name="GPSAddress"  placeholder="Max Charator 100"> -->
							<h3 id="GPSAddressDisplay"></h3>
							<!-- <label for="confirmUserPassWord">Confirm PassWord</label> -->
							<!-- <h3 id="confirmUserPassWordDisplay"></h3> -->
							<!-- <input type="password" id="confirmUserPassWord" name="confirmUserPassWord"  placeholder="More Or Equal To 6 Digit"> -->
				
						</div>
						<!--Error Handle-->
						<div class="error">
							<p id="errorMsg"></p>
							<p id="successMsg"></p>
						</div><br><br>
						<div class="btn">
							<button type="reset" id="resetbtn">Cancel</button>
							<button type="button" id="submitbtn">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</aside>
</body>
</html>